<div id="white_bar">
    <div id="main_bar">
        <picture>
            <a><!-- routerLing="app-products" --><img id="logo" src="/assets/images/logo-weg-blue.png" alt=""></a>
        </picture>
        <div id="search">
            <input type="text" class="search_bar" placeholder="O que você está procurando?">
            <button><!-- routerLing="app-search" --><img class="search_icon" src="/assets/images/navbar-search.png" alt=""></button>
        </div>
        <div id="options">
            <button><!-- routerLing="app-settings" --><img id="option" class="settings" src="/assets/images/navbar-settings.png" alt=""></button>
            <button routerLink="app-profile" (click)="change_subheader(false)"><img id="option" class="user" src="/assets/images/navbar-user.png" alt=""></button>
            <button><!-- routerLing="app-shopping-cart" --><img id="option" class="shopping_cart" src="/assets/images/navbar-shopping-cart.png" alt=""></button>
        </div>
    </div>
  </div>
  <div id="secondary_bar" *ngIf="subheader">
    <div class="second_option_bar_options">
        <a routerLink="app-weg-home"><h3 id="option_pages">weg home</h3></a>
        <img class="arrow_down" src="/assets/images/arrow-down.png" alt="">
    </div>
    <div class="second_option_bar_options">
        <a routerLink="app-product"><h3 id="option_pages">produtos</h3></a>
        <img class="arrow_down" src="/assets/images/arrow-down.png" alt="">
    </div>
    <div class="second_option_bar_options">
        <a routerLink="app-special-services"><h3 id="option_pages">serviços especiais</h3></a>
        <img class="arrow_down" src="/assets/images/arrow-down.png" alt="">
    </div>
    <div class="second_option_bar_options">
        <a routerLink="app-assistance"><h3 id="option_pages">assistência</h3></a>
    </div>
</div>