<div class="footer_container">
    <div class="weg_logo">
        <img src="/assets/images/logo-weg-white.png" alt="" width="100vw">
    </div>
    <div class="main_content">
        <p class="text_title">WEG S.A - HEADQUARTERS</p>
        <br>
        <div class="line"></div>
        <br>
        <p class="text_links">Av. Pref. Waldemar Grubba,<br>3000 - 89256-900 - Jaraguá<br>do Sul - SC / Brasil</p>
        <br>
        <p class="text_links">Telefone: +55 47 3276-4000</p>
        <br>
        <p class="text_links">E-mail: info-br@weg.net</p>
    </div>
    <div class="main_content">
        <a><p class="text_title">WEG HOME</p></a>
        <br>
        <div class="line"></div>
        <br>
        <a><p class="text_links">câmera</p></a>
        <a><p class="text_links">plugue</p></a>
        <a><p class="text_links">relé</p></a>
        <a><p class="text_links">controle</p></a>
        <a><p class="text_links">sensor</p></a>
    </div>
    <div class="main_content">
        <a><p class="text_title">PRODUTOS</p></a>
        <br>
        <div class="line"></div>
        <br>
        <a><p class="text_links">motores</p></a>
        <a><p class="text_links">painéis</p></a>
        <a><p class="text_links">tintas</p></a>
        <a><p class="text_links">redutores</p></a>
        <a><p class="text_links">bombas</p></a>
    </div>
    <div class="main_content">
        <a><p class="text_title">SERVIÇOS ESPECIAIS</p></a>
        <br>
        <div class="line"></div>
        <br>
        <a><p class="text_links">energia</p></a>
        <a><p class="text_links">mobilidade</p></a>
        <a><p class="text_links">software</p></a>
        <a><p class="text_links">agro</p></a>
    </div>
    <div class="main_content">
        <a><p class="text_title">ASSISTÊNCIA</p></a>
        <br>
        <div class="line"></div>
        <br>
        <a><p class="text_links">chat</p></a>
        <a><p class="text_links">saiba mais</p></a>
    </div>
    <div class="weg_colors">
        <div class="square_color"></div>
        <div class="square_color"></div>
        <div class="square_color"></div>
        <div class="square_color"></div>
        <div class="square_color"></div>
    </div>
</div>