<div id="app_perfil_header">
    <div class="left_center_container">
        <div id="blue_rectangle" (mouseenter)="hover_arrow()">
            <div id="white_arrow">
                <img src="assets/img/white-arrow.png">
            </div>
        </div>
        <div id="greet_client">
            <div id="image_user">
                <img src="assets/img/app-perfil-user.png" alt="">
            </div>
            <p>OLÁ, IANNA</p>
        </div>
    </div>
    <div class="topics">
        <div id="meeting" class="itens_topics">
            <p class="title_itens">REUNIÃO</p>
        </div>
        <div id="personal_data" class="itens_topics">
            <p class="title_itens">DADOS PESSOAIS</p>
        </div>
        <div id="my_requests" class="itens_topics">
            <p class="title_itens">MEUS PEDIDOS</p>
        </div>
    </div>
</div>