<div id="flex-container">
    <div class="flex-blocks">
        <div class="flex-box" id="registration">
            <div class="box-header">
                <p>CADASTRO</p>
                <button class="edit">
                    <img src="/assets/img/app-perfil-content-pencil.png">
                </button>
            </div>
            <div class="box-content">
                <div class="box-subtitles">
                    <p class="subtitle">NOME:</p>
                    <p class="subtitle">E-MAIL:</p>
                    <p class="subtitle">TELEFONE:</p>
                    <p class="subtitle">SENHA:</p>
                </div>
                <div id="box-infos">
                    <p class="info">ANNA CRISTINA KOERICH</p>
                    <p class="info">anna_koerich@gmail.com</p>
                    <p class="info">(47) 999999-9999</p>
                    <p class="info">*****</p>
                </div>
            </div>
        </div>
        <div class="flex-box">
            <div class="box-header">
                <p>CARTÃO</p>
                <button class="edit">
                    <img src="/assets/img/app-perfil-content-pencil.png">
                </button>
            </div>
            <p id="type-card">CRÉDITO-VISA</p>
            <div class="box-content">
                <div class="box-subtitles">
                    <p class="subtitle">NOME:</p>
                    <p class="subtitle">NÚMERO:</p>
                    <p class="subtitle">VALIDADE:</p>
                    <p class="subtitle">CVV:</p>
                </div>
                <div id="box-infos">
                    <p class="info">ANNA CRISTINA KOERICH</p>
                    <p class="info">**** ***** **** 4232</p>
                    <p class="info"> 12 / 2023</p>
                    <p class="info">***</p>
                </div>
            </div>
        </div>
    </div>
    <div class="flex-blocks">
        <div class="flex-box">
            <div class="box-header">
                <p>ENDEREÇO</p>
                <button class="edit">
                    <img src="/assets/img/app-perfil-content-pencil.png">
                </button>
            </div>
            <div class="box-content">
                <div class="box-subtitles">
                    <p class="subtitle">CEP:</p>
                    <p class="subtitle">ESTADO:</p>
                    <p class="subtitle">CIDADE:</p>
                    <p class="subtitle">RUA:</p>
                    <p class="subtitle">NÚMERO:</p>
                    <p class="subtitle">COMPLEMENTO:</p>
                </div>
                <div id="box-infos">
                    <p class="info">90000-000</p>
                    <p class="info">paraná</p>
                    <p class="info"> terrasem</p>
                    <p class="info">rua da sirenize</p>
                    <p class="info">246</p>
                    <p class="info">bloco d</p>
                </div>
            </div>
        </div>
    </div>
</div>