<div id="flex-container">
    <div class="flex-blocks">
        <table class="flex-box" id="registration">
            <tr class="box-header">
                <th class="subtitle">CADASTRO</th>
                <td class="info"><button class="edit">
                    <img src="/assets/images/navbar-pencil.png">
                </button></td>
            </tr>
            <tr class="name">
                <th class="subtitle">NOME:</th>
                <td class="info">ANNA CRISTINA KOERICH</td>
            </tr>
            <tr class="email">
                <th class="subtitle">E-MAIL:</th>
                <td class="info">anna_koerich@gmail.com</td>
            </tr>
            <tr class="phone">
                <th class="subtitle">TELEFONE:</th>
                <td class="info">(47) 999999-9999</td>
            </tr>
            <tr class="password">
                <th class="subtitle">SENHA:</th>
                <td class="info">*****</td>
            </tr>
        </table>
        <table class="flex-box">
            <tr class="box-header">
                <th class="subtitle">CARTÃO</th>
                <td class="info"><button class="edit">
                    <img src="/assets/images/navbar-pencil.png">
                </button></td>
            </tr>
            <tr id="type-card">
                <th class="info">CRÉDITO-VISA</th>
            </tr>
            <div class="box-subtitles">
                <tr class="name">
                    <th class="subtitle">NOME:</th>
                    <td class="info">ANNA CRISTINA KOERICH</td>
                </tr>
                <tr id="number">
                    <th class="subtitle">NÚMERO:</th>
                    <td class="info">**** ***** **** 4232</td>
                </tr>
                <tr id="validity">
                    <th class="subtitle">VALIDADE:</th>
                    <td class="info"> 12 / 2023</td>
                </tr>
                <tr id="cvv">
                    <th class="subtitle">CVV:</th>
                    <td class="info">***</td>
                </tr>
            </div>
        </table>
    </div>
    <div class="flex-blocks">
        <table class="flex-box">
            <tr class="box-header">
                <th class="subtitle">ENDEREÇO</th>
                <td class="info"><button class="edit">
                    <img src="/assets/images/navbar-pencil.png">
                </button></td>
            </tr>
            <div class="box-subtitles">
                <tr class="cep">
                    <th class="subtitle">CEP:</th>
                    <td class="info">90000-000</td>
                </tr>
                <tr class="state">
                    <th class="subtitle">ESTADO:</th>
                    <td class="info">paraná</td>
                </tr>
                <tr class="city">
                    <th class="subtitle">CIDADE:</th>
                    <td class="info"> terrasem</td>
                </tr>
                <tr class="street">
                    <th class="subtitle">RUA:</th>
                    <td class="info">rua da sirenize</td>
                </tr>
                <tr class="number">
                    <th class="subtitle">NÚMERO:</th>
                    <td class="info">246</td>
                </tr>
                <tr class="complement">
                    <th class="subtitle">COMPLEMENTO:</th>
                    <td class="info">bloco d</td>
                </tr>
            </div>
        </table>
    </div>
</div>